* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form {
    display: flex;
    flex-direction: column;

    max-width: 360px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    border: 1px solid rgb(141, 141, 141);
    padding: 20px;
    border-radius: 8px;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label:last-child {
    margin-bottom: 0;
}

.form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    max-width: 460px;
    min-height: 40px;
    margin-top: 8px;

    font-family: 'Montserrat', sans-serif;

    padding: 16px 8px;
}

.form-input:hover {
    outline: none;
    border-color: #000;
}

.form-input:focus {
    outline: none;
    border-color: #808080;
}

.form-textarea {
    resize: none;
    display: block;

    border: 1px solid #808080;
    border-radius: 4px;
    max-width: 360px;
    min-height: 80px;

    font-family: 'Montserrat', sans-serif;

    padding: 16px 8px;

    margin-top: 8px;
}

.form-textarea:hover {
    outline: none;
    border-color: #000;
}

.form-textarea:focus {
    outline: none;
    border-color: #808080;
}

.form-button {
    display: block;

    border-radius: 8px;
    max-width: 95px;
    height: 40px;

    background-color: #4e75ff;
    border: none;

    font-size: 16px;
    color: #fff;

    cursor: pointer;

    margin-top: 8px;
    transition: background-color .3s ease;
}

.form-button:hover,
.form-button:focus {
    background-color: #6c8cff;
}