* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul,
ol,
li {
    list-style-type: none;
}

.list {
    padding-left: 10px;
}

.list-item {
    margin-bottom: 10px;
}

.fieldset {
    width: 400px;
    margin: 0 auto 10px;
}

.fieldset:last-child {
    margin-bottom: 0;
}

/* ===== User Form ===== */

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.user-data-container {
    border: 1px solid rgba(117, 116, 116, 0.2);
    border-radius: 8px;
    padding: 12px;
    width: calc((100% - 40px) / 3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.user-data-container:hover {
    border-color: transparent;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(117, 116, 116, 0.2);
}

/* ===== Car Form ===== */

.car-container {
    border: 1px solid rgba(117, 116, 116, 0.2);
    border-radius: 8px;
    padding: 10px;
    height: auto;
    max-width: 340px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.car-container:hover {
    border-color: transparent;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(117, 116, 116, 0.2);
}

.on-sale-container {
    display: flex;
    gap: 20px;
}

.form-radio-input {
    transform: scale(1.4);
    height: auto;
}

.car-img {
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}